.container {
  min-height: 240px;
  flex-grow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textfield {
    margin-top: 20px;
  }

  .next {
    align-items: flex-end;
    margin-left: auto;
    width: 140px;
    height: 48px;
    justify-content: flex-end;
    background-color: #007c48;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  
    &:hover {
      opacity: 0.9;
    }
  }
}